$primary-color: #f0f5ff;
$secondary-color: #3675FF;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.95;

@mixin easeOut {
  transition: all 0.4s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: rgba($primary-color, $background-opacity);
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

// headings

h1, h2, h3 {
  color: #000000;
  font-family: 'Rubik', Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    font-size: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($secondary-color, 28), 0.5);
  }
}

a {
  color: #000;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}